/* Animaciones */

.slit-in-diagonal-1 {

	-webkit-animation: slit-in-diagonal-1 0.45s ease-out both;
	        animation: slit-in-diagonal-1 0.45s ease-out both;

}

@-webkit-keyframes slit-in-diagonal-1 {

    0% {

      -webkit-transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
              transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;

    }

    54% {

      -webkit-transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
              transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
      -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
      opacity: 1;

    }

    100% {

      -webkit-transform: translateZ(0) rotate3d(1, 1, 0, 0);
              transform: translateZ(0) rotate3d(1, 1, 0, 0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;

    }
}

@keyframes slit-in-diagonal-1 {

    0% {

      -webkit-transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
              transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;

    }

    54% {

      -webkit-transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
              transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
      -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
      opacity: 1;

    }

    100% {

      -webkit-transform: translateZ(0) rotate3d(1, 1, 0, 0);
              transform: translateZ(0) rotate3d(1, 1, 0, 0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;

    }
}

.text-focus-in {

	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

@-webkit-keyframes text-focus-in {

    0% {

      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;

    }

    100% {

      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;

    }
}

@keyframes text-focus-in {

    0% {

      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;

    }

    100% {

      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;

    }

}