// Importaciones de Fuentes
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100&display=swap');

// Variables de Colores

$first-color: #f57c00;
$second-color: #ff9800;
$third-color: #ff850b;
$fourth-color: #000;
$fifth-color: #fff;

// Variables de Sombras

$first-shadow: rgba(0, 0, 0, .5);
$second-shadow: rgba(0, 0, 0, .1);
$third-shadow: rgba(255, 255, 255, .5);

// Variables de Tipografía

$first-typography: 'Bebas Neue', cursive;
$second-typography: 'Big Shoulders Text', cursive;